obj
lib/
bin/
build/
install/
src/SusyFitter_Dict.C
*.o

.*.swp
data/*.root
*.pyc
*.pcm
*.d
*.so

*~
*#

# copied from the src dir!
include/*.h

# setup script
setup.sh

# output
results/
data/
*.json

# Development environments
.vscode/
