stages:
  - docker
  - test

build_latest_image:
  stage: docker
  except:
  - tags
  tags:
    - docker-image-build
  script:
    - ignore

build_tagged_image:
  stage: docker
  variables:
    TO: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  only:
  - tags
  tags:
    - docker-image-build
  script:
    - ignore

test:
  stage: test
  #image: $CI_REGISTRY_IMAGE:latest
  before_script:
    - pwd
    - source setup.sh
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py ##Not working anymore in python2
    - sudo python get-pip.py
    - sudo pip install pytest
  script:
    - echo "This job tests something"
    #- pytest
    - HistFitter.py --help
