obj
*.o
.*.swp
*.pyc
*.pcm
*.d
*.so
*.xml

*~
*#
.asetup*
*.rootmap
*.modulemap

#In case someone builds in source dir
lib/
include/
bin/
build/
install/
data/
results/
config/*
!HistFactorySchema.dtd
CMakeCache.txt
CMakeFiles/
install_manifest.txt
*.cmake
.pytest_cache/

# Development environments
.vscode/
