repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-json
    - id: check-yaml
    - id: check-toml
    - id: check-xml

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.19.1
    hooks:
    - id: pyupgrade
      args: ["--py36-plus"]
